@tailwind base;
@tailwind components;
@tailwind utilities;

/* .border-bottom-gray * {
    border-bottom:1px #dddddd solid;
} */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    backgound-color: #1A202C
} */